<!DOCTYPE html>
<html>
<head>
  <title>Steam Tally</title>
  <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="main">
    <%= yield %>
    <footer>
      Powered by <a href="http://steampowered.com">Steam</a>.
      This site is not affiliated with Valve in any way.
      Valve and Steam are registered trademarks of Valve Corporation.
      All trademarks are property of their respective owners in the US and other countries.
    </footer>
  </div>

</body>
</html>
